<div class="flex flex-row gap-4">
  <input
    type="text"
    class="grow rounded border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
    placeholder="Filter by city"
    #filter
  />
  <button
    type="button"
    class="flex rounded bg-teal-500 p-2 font-bold text-white hover:bg-teal-600"
    matRipple
    (click)="filterResults(filter.value)"
  >
    <mat-icon fontIcon="search"></mat-icon>
  </button>
</div>
<div class="py-4">
  <mat-divider></mat-divider>
</div>
<div class="flex flex-wrap gap-4">
  <app-housing-location
    *ngFor="let housingLocation of filteredHousingLocations"
    [housingLocation]="housingLocation"
  ></app-housing-location>
</div>
